<div
  class="h-screen flex flex-col gap-1 text-secondary w-screen items-center no-scrollbar justify-start p-5"
>
  @if(isXmlError()) {
  <app-error-message />
  } @else {
  <!-- Flat.io Editor Container -->
  <div
    class="w-fit md:w-full pt-10 pl-10 md:pt-25 text-center md:max-w-[1024px] flex-grow md:flex-grow-0 h-fit no-scrollbar border border-[#CCC] relative"
    #flatContainer
  >
    <!-- Settings button absolute right-0 bottom-0 -->
    @if((!exerciseState.isPlaying() && !exerciseState.isListening()) ||
    (exerciseState.isPlaying() && exerciseState.isListening())) {
    <div class="absolute right-4 bottom-4">
      <app-settings-button
        (handleLevelChange)="handleLevelChange($event)"
        (handlePartSoundChange)="handlePartSoundChange($event)"
        (handleMasterVolumeChange)="handleMasterVolumeChange($event)"
        (handleMetronomeVolumeChange)="handleMetronomeVolumeChange($event)"
        (handleTapVolumeChange)="handleTapVolumeChange($event)"
        [isListening]="exerciseState.isListening()"
        [isPlaying]="exerciseState.isPlaying()"
      />
    </div>
    }
  </div>
  <!-- Tap Visualizer (when playing or finished) -->
  @if(exerciseState.isPlaying() && metronome.countInStatus() === 'finish' ||
  exerciseState.exerciseStatus() === 'finish') {
  <div class="flex-1 max-h-10 text-center w-full relative max-w-[1024px] p-5">
    <app-tap-visualizer />
  </div>
  }
  <!-- Main Content -->
  @if(exerciseState.exerciseStatus() === 'finish') {
  <!-- Results Screen -->
  <app-exercise-results
    [percentage]="exerciseState.resultPercentage()"
    (restart)="resetExercice()"
    (continue)="handleContinue()"
  />
  } @else {
  <!-- Countdown Display -->
  <app-countdown-display
    [status]="metronome.countInStatus()"
    [tick]="metronome.metronomeTick()"
  >
    @if(!exerciseState.isPlaying()) {
    <app-control-buttons
      [isPlaying]="exerciseState.isPlaying()"
      [isListening]="exerciseState.isListening()"
      [xmlLoaded]="exerciseState.xmlIsLoaded()"
      (toggleListen)="handleToggleListen()"
      (playStop)="handlePlayStop()"
    />
    }
  </app-countdown-display>
  }

  <!-- Tap Button (when playing and not finished) -->
  @if(exerciseState.isPlaying() && exerciseState.exerciseStatus() !== 'finish')
  {
  <app-tap-button
    [disabled]="!exerciseState.canTap()"
    [lastTap]="exerciseState.lastTap()"
    (tap)="handleUserTap()"
  >
    <app-control-buttons
      [isPlaying]="exerciseState.isPlaying()"
      [isListening]="exerciseState.isListening()"
      [xmlLoaded]="exerciseState.xmlIsLoaded()"
      (toggleListen)="handleToggleListen()"
      (playStop)="handlePlayStop()"
    />
  </app-tap-button>
  } }
</div>
