<div class="flex flex-row gap-4 justify-between px-4 items-center h-full">
  <!-- Play Controls: Step backward, Play/Pause, Step forward -->
  <app-play-controls
    (togglePlay)="handleTogglePlay()"
    (stepBackward)="handleStepBackward()"
    (stepForward)="handleStepForward()"
  />

  <!-- Timeline: Progress slider with time display -->

  <app-timeline-slider [duration]="duration()" (seek)="seekTo($event)" />

  <!-- Right side controls -->
  <section class="flex items-center gap-2 bg-black/40 px-4 h-10 rounded-lg">
    <!-- Volume Control -->
    <app-volume-control (volumeChange)="handleVolumeChange($event)" />

    <!-- Playback Speed -->
    <app-speed-control (speedChange)="handleSpeedChange($event)" />

    <!-- Subtitles -->
    <app-subtitle-settings (subtitleChange)="handleSubtitleChange($event)" />

    <!-- Fullscreen -->
    <app-fullscreen-toggle
      (fullscreenChange)="handleFullscreenChange($event)"
    />
  </section>
</div>
