<div class="relative w-full bg-zinc-950" [ngClass]="isMobile() ? 'h-auto overflow-visible' : 'h-full overflow-hidden'">
  <div class="w-full flex" 
       [ngClass]="isMobile() ? 'flex-col h-auto' : 'h-full flex-col md:flex-row overflow-hidden'">
    
    <!-- Video Section -->
    <div [ngStyle]="videoStyles()" class="bg-black flex items-center justify-center overflow-hidden">
      <app-video 
        mode="fill"
        class="w-full h-full"
        [typeImg]="typeImg()" 
        [mediaId]="currentVideo()!"
      ></app-video>
    </div>

    <!-- Diapo Section -->
    <div [ngStyle]="scoreStyles()" class="relative shadow-2xl" [ngClass]="isMobile() ? 'overflow-visible' : 'overflow-hidden'">
      <app-diapo theme="dark" [showControls]="true" [allowZoom]="!isMobile()"></app-diapo>
    </div>

  </div>
</div>
