<section class="flex gap-1 text-white rounded-lg">
  <p-button
    icon="pi pi-step-backward"
    size="small"
    [text]="true"
    variant="text"
    styleClass="text-white!"
    (onClick)="stepBackward.emit()"
  />
  <p-button
    size="small"
    [icon]="isPlaying() ? 'pi pi-pause' : 'pi pi-play'"
    [text]="true"
    styleClass="text-white!"
    (onClick)="togglePlay.emit()"
  />
  <p-button
    size="small"
    icon="pi pi-step-forward"
    [text]="true"
    styleClass="text-white!"
    (onClick)="stepForward.emit()"
  />
</section>
