:host {
  display: block;
  width: 100%;
  height: 100%;
}

.audiomixer-control-bar {
  background: #FA5E46;
}

.progress-bar-container {
  transition: height 0.2s ease;
}

.progress-bar-container:hover {
  height: 8px;
}

.progress-bar-container:hover .progress-handle {
  opacity: 1;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
}
