:host {
  display: block;
  width: 100%;
  height: 100%;
}

.audiomixer-control-bar {
  background: #FA5E46;
}

.progress-bar-container {
  transition: height 0.2s ease;
}

.progress-bar-container:hover {
  height: 8px;
}

.progress-bar-container:hover .progress-handle {
  opacity: 1;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
}

.loop-marker {
  position: absolute;
  top: 0;
  width: 12px;
  height: 100%;
  background: white;
  cursor: ew-resize;
  z-index: 30;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loop-marker::after {
  content: '';
  width: 2px;
  height: 60%;
  background: rgba(0,0,0,0.2);
}

.loop-marker-a {
  transform: translateX(-100%);
  border-radius: 4px 0 0 4px;
}

.loop-marker-b {
  transform: translateX(0%);
  border-radius: 0 4px 4px 0;
}

.progress-active-range {
  transition: all 0.1s ease-linear;
}
