@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
  --font-family: 'Raleway', 'Helvetica Neue', Helvetica,Arial, sans-serif;
  --color-primary: #AEC739;
  --color-secondary: #5A6B7B;
}